.navbar {
   height: 50px;
   
   .wrapper{
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item{
            display: flex;
            align-items: center;
        }

        .center{
            font-size: 20px;
            letter-spacing: 2px;
        }

        .right{
            display: flex;
            align-items: center;
            gap: 25px;

            .linkPages{
                display: flex;
                gap: 25px;
            }
            .icons{
                display: flex;
                gap: 10px;
                color: #777777;
                cursor: pointer;

                .cartIcon{
                    position: relative;
                    span{
                        position: absolute;
                        padding: 2px 5px;
                        color: #ffffff;
                        font-size: 12px;
                        height: 20px;
                        width: 20%;
                        border-radius: 50%;
                        background: #0000ff;
                        top: -5px;
                        right: -10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }
            }
        }
    } 

}