.cart{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    right: 50px;
    top: 80px;
    z-index: 999;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 10px 66px -9px rgba(199,199,199,0.61);
    -webkit-box-shadow: 15px 10px 66px -9px rgba(199,199,199,0.61);
    -moz-box-shadow: 15px 10px 66px -9px rgba(199,199,199,0.61);

    h2{
        font-size: 22px;
    }
    .cartItems{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
        }
        .details{
            h2{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }

            .detailBottom{
                display: flex;
                justify-content: space-between;
            }

            .delete{
                color: red;
            }
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .checkout{
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: fit-content;

        button{
            background-color: #000000;
            border: none;
            color: #ffffff;
            padding: 5px 15px;
        }
        span{
            color: blue;
        }
    }
}