.featured{
    margin: 100px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        
   .link{
       color: inherit;
       text-decoration: none;
    }

    .top{
        margin-bottom: 20px;

    }
    .bottom{
        display: flex;
        justify-content: center;
        gap: 10px;
        overflow: hidden;
    }
}