.featured{
    margin: 100px 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        
   .link{
       color: inherit;
       text-decoration: none;
    }

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h2{
            flex: 2;
        }
        p{
            flex: 3;
            color: #777;
            font-size: 14px;
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        gap: 10px;
        overflow: hidden;
    }
}