.products{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    padding: 20px 50px;
    margin-bottom: 100px;
    
    .left{
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;

        .filterItem{
            margin-bottom: 30px;

            h2{
                font-weight: bold;
                font-size: 18px;
            }

            .inputItem{
                margin-bottom: 10px;

                label{
                    margin-left: 10px;
                }
            }
        }
    }
    .right{
        flex: 3;

        .catImage{
            width: 100%;
            height: 300px;
            margin-bottom: 50px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .products{
        padding: 10px 20px;
        margin-bottom: 100px;

        .left{
            flex: 1;
            position: sticky;
            height: 100%;
            // top: 40px;
    
            .filterItem{
                margin-bottom: 10px;
    
                h2{
                    font-weight: bold;
                    font-size: 16px;
                }
    
                .inputItem{
                    margin-bottom: 5px;
    
                    label{
                        margin-left: 5px;
                    }
                }
            }
        }
        .right{
            margin-left: 20px;
            flex: 3;
    
            .catImage{
                width: 100%;
                height: 200px;
                margin-bottom: 50px;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    } 
}