.category{
    height: 80vh;
    display: flex;
    // margin: 10px;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        
   .link{
       color: inherit;
       text-decoration: none;
    }

    .column{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 10px;
    }
    .column-large{
        flex: 2;
    }
    .row{
        flex: 1;
        display: flex;
        gap: 10;
        height: 200px;
        position: relative;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        button{
            min-width: 100px;
            width: fit-content;
            height: 30px;
            padding: 5px;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: none;
            background-color: #fff;
            cursor: pointer;
        }
    }
}