.slider{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: gray;
    background-image: linear-gradient(rgb(182, 182, 182), #ededed);
    font-family: Georgia, 'Times New Roman', Times, serif;
        
   .link{
       color: inherit;
       text-decoration: none;
    }

    .container{
        padding: 50px;
        display: flex;
        gap: 60px;
        justify-content: center;
        align-items: center;

        .left{
            flex: 3;
        }

        .right{
            display: flex;
            flex: 2;
            height: 60vh;
            width: 50%;
            padding: 20px;
            background-color: #777;

            .rightImage{
               
                img{
                    height: 60vh;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        
    }

    // .icons{
    //     width: 100px;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     display: flex;
    //     bottom: 60px;
    //     cursor: pointer;

    //     .icon{
    //         border: 1px solid #777777;
    //         height: 30px;
    //         width: 30px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //     }
    // }
}