.footer{
    padding: 10px 50px;
    background-color: #777777;
    color: #fff;

    .top{
        display: flex;
        gap: 25px;

        .item{
            flex: 1;
            display: flex;
            gap: 5px;
            flex-direction: column;

            span{
                cursor: pointer;
            }
            p{
                font-size: 12px;
            }
        }
    }

    .bottom{
        margin-top: 30px;
        display: flex;
        gap: 4px;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 16px;
            font-weight: bold;
        }
        span{
            font-size: 12px;
        }
    }
}